name: Build roBa ZMK Firmware

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      # コンフィグパス（ルートなら空でOK）
      config_path: ''
      
      # build_matrix の中に board と shield を列挙する
      build_matrix: |
        [
          {
            "board": "seeeduino_xiao_ble",
            "shield": "roBa/roBa_L"
          },
          {
            "board": "seeeduino_xiao_ble",
            "shield": "roBa/roBa_R"
          },
          {
            "board": "holyiot_nrf52840_dongle"
          }
        ]
