name: Build roBa ZMK Firmware

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build_roBa_L:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      board: seeeduino_xiao_ble
      shield: roBa/roBa_L

  build_roBa_R:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      board: seeeduino_xiao_ble
      shield: roBa/roBa_R

  build_dongle:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      board: holyiot_nrf52840_dongle
